.headerContainer {
  margin: 0 0 2rem;
}

.header {
  padding: 1rem 2rem 1rem;
  margin-bottom: 3rem;
  background-color: #468faf;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
}

.nav_list {
  display: flex;
  list-style-type: none;
}

.nav_item {
  padding-right: 1rem;
}

.link {
  color: #a9d6e5;
  text-decoration: none;
}

.link:hover {
  color: #666666;
}

.active_link {
  font-weight: bold;
  color: #014f86;
}
